.contacts {
    padding-top: 40px;
    padding-bottom: 140px;
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        text-transform: uppercase;
        color: #009DE0;
        margin-bottom: 50px;
    }
    &__top {
        &-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 140px;
        }
        &-left {
            background: #F3F3F3;
            border-radius: 30px;
            padding: 40px 47px 40px 73px;
        }
    }
    &__telephone {
        display: flex;
        align-items: center;
        margin-right: 38px;
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #009DE0;
            margin-left: 8px;
        }
        &-block {
            display: flex;
            align-items: center;
            margin-bottom: 33px;
        }
    }
    &__number {
        font-size: 16px;
        line-height: 150%;
        color: #1A2434;
    }
    &__address {
        display: flex;
        align-items: center;
        margin-right: 59px;
        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #009DE0;
            margin-left: 8px;
        }
        &-text {
            width: 400px;
            font-size: 16px;
            line-height: 150%;
            color: #1A2434;
        }
        &-block {
            display: flex;
            align-items: center;
        }
    }
    &__map {
        width: 467px;
        height: 78px;
        border-radius: 30px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &-span {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            margin-right: 10px;
        }
        &-span2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .contacts {
        &__top-items {
            display: block;
            margin-bottom: 64px;
        }
        &__top-left {
            margin-bottom: 30px;
        }
        &__map {
            width: 100%;
        }
    }
}

@media screen and (max-width: 992px) {
    .contacts {
        padding-top: 20px;
        padding-bottom: 64px;
        &__top-left {
            margin-bottom: 16px;
            padding: 30px 20px;
        }
        &__telephone-block {
            display: block;
            margin-bottom: 20px;
        }
        &__telephone {
            margin-right: 0;
            margin-bottom: 10px;
            span {
                font-size: 12px;
                margin-left: 6px;
            }
        }
        .contacts__number {
            font-size: 12px;
        }
        &__address-block {
            display: block;
        }
        &__address {
            margin-right: 0;
            margin-bottom: 10px;
            span {
                font-size: 12px;
                margin-left: 6px;
            }
        }
        .contacts__address-text {
            width: 100%;
            font-size: 12px;
        }
        &__map:not(:last-child) {
            margin-bottom: 16px;
        }
        &__map {
            height: 50px;
            &-span {
                font-size: 12px;
                margin-right: 6px;
            }
            &-span2 {
                font-size: 12px;
                margin-right: 9px;
            }
            img {
                width: 25px;
            }
        }
    }
}