@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Halvar Breitschrift';
  src: url(../fonts/HalvarBreit-Bd.ttf);
  font-weight: 700; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1; }

button,
input,
textarea {
  outline: none !important;
  transition: all .3s; }
  button::placeholder,
  input::placeholder,
  textarea::placeholder {
    color: #a8a8a8; }

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important; }

::-webkit-input-placeholder {
  color: #222; }

::-moz-placeholder {
  color: #222; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #222; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222; }

.transit {
  /* Safari */
  transition: all 0.4s; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

html {
  height: 100%; }

svg {
  flex-shrink: 0; }

svg,
path {
  transition: all .3s; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100%;
  color: #1A2434;
  overflow-x: hidden;
  font-feature-settings: 'pnum' on, 'lnum' on; }
  body.fixed-body {
    overflow-y: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s; }
  a:hover {
    text-decoration: none !important;
    color: inherit; }
  a:focus {
    text-decoration: none !important; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

i {
  line-height: 100%; }

input::placeholder {
  color: #808080; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border-radius: 80px; }

.btn-blue {
  background-color: #009DE0;
  color: #FFFFFF; }
  .btn-blue:hover {
    background-color: #0079ad;
    color: #FFFFFF; }
  .btn-blue:active {
    background-color: #00567a;
    color: #FFFFFF; }

.header {
  padding: 50px 0;
  position: relative;
  z-index: 2; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    display: block;
    width: 200px;
    flex-shrink: 0;
    margin-right: 200px; }
    .header__logo svg {
      width: 100%;
      height: auto; }
  .header__right {
    flex-grow: 1; }
    .header__right-inner {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .header__phone {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%; }
    .header__phone svg {
      margin-right: 14px; }
  .header__btn {
    color: #009DE0;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline; }
    .header__btn:hover {
      text-decoration: none; }

.nav {
  display: flex;
  align-items: center; }
  .nav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%; }
    .nav__item:hover {
      color: #009DE0; }
    .nav__item:not(:last-child) {
      margin-right: 40px; }

@media screen and (max-width: 1200px) {
  .header {
    padding: 30px 0; }
    .header__logo {
      margin-right: 100px; } }
@media screen and (max-width: 992px) {
  .header__right {
    position: absolute;
    top: 0;
    transition: all .3s;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #1A2434;
    background-image: url(../img/lines.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 1440px auto;
    padding-top: 150px; }
    .header__right-inner {
      flex-wrap: wrap;
      width: 720px;
      margin: 0 auto;
      align-items: flex-start; }
    .header__right--active {
      left: 0; }
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 32px;
    height: 22px;
    position: relative;
    z-index: 11; }
    .header__burger span {
      transition: all .3s;
      width: 100%;
      height: 2px;
      background: #009DE0; }
      .header__burger span:nth-child(1) {
        position: absolute;
        left: 0;
        top: 0; }
      .header__burger span:nth-child(2) {
        width: 16px; }
      .header__burger span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0; }
  .header__burger--active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 10px; }
  .header__burger--active span:nth-child(2) {
    transform: scale(0.000001); }
  .header__burger--active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 10px; }
  .header__logo {
    width: 106px;
    position: relative;
    z-index: 11; }
    .header__logo .logo-letter {
      transition: all .5s; }
    .header__logo--active .logo-letter {
      fill: #fff; }
  .header__phone {
    color: #FFFFFF;
    margin-top: 20px;
    width: calc(100% - 155px); }
    .header__phone:hover {
      color: #009DE0; }
  .header__btn {
    background: #009DE0;
    border-radius: 30px;
    margin-top: 65px;
    height: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 200%;
    color: #fff;
    width: 280px; }
    .header__btn:hover {
      background-color: #0079ad;
      color: #FFFFFF; }
    .header__btn:active {
      background-color: #00567a;
      color: #FFFFFF; }

  .nav {
    color: #FFFFFF;
    display: block;
    width: 140px;
    margin-right: 15px; }
    .nav__item {
      display: block;
      line-height: 350%; }
      .nav__item:not(:last-child) {
        margin-right: 0; } }
@media screen and (max-width: 768px) {
  .header__right-inner {
    width: calc(100% - 30px); } }
@media screen and (max-width: 320px) {
  .header__btn {
    width: 100%; } }
.main {
  background-image: url(../img/main-bg.png);
  padding: 250px 0 410px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: -150px; }
  .main__title {
    font-size: 44px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 565px; }
  .main__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-top: 30px; }
  .main__btn {
    width: 267px;
    height: 70px;
    margin-top: 89px;
    position: relative; }
    .main__btn:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #FFFFFF;
      border-radius: 80px; }

@media screen and (max-width: 1200px) {
  .main {
    padding: 150px 0 210px;
    margin-top: -103px; } }
@media screen and (max-width: 992px) {
  .main {
    margin-top: -86px; }
    .main__title {
      font-size: 20px; }
    .main__desc {
      font-size: 12px;
      margin-top: 16px; }
    .main__btn {
      height: 50px;
      margin-top: 36px; }
      .main__btn:before {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        font-size: 12px; } }
@media screen and (max-width: 576px) {
  .main {
    background-position: right top;
    background-size: 160% auto;
    padding: 330px 0 130px; }
    .main__title {
      text-align: center;
      max-width: 100%; }
    .main__desc {
      text-align: center; }
    .main__btn {
      margin-left: auto;
      margin-right: auto; } }
.footer {
  background: #1A2434;
  padding: 140px 0 125px; }
  .footer__inner {
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    width: 200px;
    display: block; }
    .footer__logo svg {
      width: 100%;
      height: auto; }
    .footer__logo .logo-letter {
      fill: #fff; }
  .footer__privacy {
    margin-top: 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8692A6; }
    .footer__privacy a {
      color: #009DE0;
      text-decoration: underline; }
      .footer__privacy a:hover {
        text-decoration: none; }
  .footer__item, .footer__phone, .footer__mail {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 350%;
    color: #FFFFFF; }
    .footer__item:hover, .footer__phone:hover, .footer__mail:hover {
      color: #009DE0; }
  .footer__mail {
    color: #009DE0;
    text-decoration: underline; }
    .footer__mail:hover {
      text-decoration: none; }
  .footer__socials {
    display: flex;
    align-items: center;
    margin-top: 18px; }
    .footer__socials-item:not(:last-child) {
      margin-right: 35px; }
  .footer__btn {
    width: 242px;
    height: 58px; }

@media screen and (max-width: 1200px) {
  .footer {
    padding: 80px 0; }
    .footer__socials-item:not(:last-child) {
      margin-right: 15px; } }
@media screen and (max-width: 992px) {
  .footer__inner {
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 80px; }
  .footer__col:nth-child(1) {
    width: 100%;
    margin-bottom: 40px; }
  .footer__logo {
    width: 106px; }
  .footer__privacy {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; } }
@media screen and (max-width: 650px) {
  .footer__inner {
    padding-bottom: 230px; }
  .footer__col:nth-child(2) {
    width: 140px;
    margin-right: 10px; }
  .footer__col:nth-child(3) {
    width: calc(100% - 150px); }
  .footer__socials {
    position: absolute;
    width: 100%;
    bottom: 180px;
    left: 0;
    justify-content: space-between; }
    .footer__socials-item:not(:last-child) {
      margin-right: 40px; }
  .footer__btn {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 85px;
    font-size: 12px; }
  .footer__phone, .footer__mail, .footer__item {
    font-size: 12px; }
  .footer__privacy {
    font-size: 12px; } }
.modal-dialog {
  margin-top: 70px;
  width: 550px;
  background-color: #ffffff;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.18);
  border-radius: 5px; }
.modal__close {
  z-index: 1000;
  position: absolute;
  float: unset;
  top: 21px;
  right: 21px;
  opacity: 0.5; }
  .modal__close:hover {
    opacity: 1; }
.modal__top {
  padding: 35px 0 27px;
  border-bottom: 1px solid #9ac354; }
.modal__title {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #9ac354;
  padding: 0 60px;
  margin-bottom: 18px; }
.modal__info {
  display: flex; }
.modal__badge {
  height: 24px;
  background-color: #9ac354;
  padding: 0 13px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 16px;
  white-space: nowrap; }
.modal__desc {
  font-size: 14px;
  line-height: 18px;
  padding-top: 3px;
  font-weight: 500;
  color: #333333; }
.modal__form {
  padding: 30px 60px 35px; }
  .modal__form-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; }
  .modal__form-group label {
    font-size: 14px;
    font-weight: 400;
    color: #1d1d1b;
    margin-bottom: 15px;
    display: block; }
  .modal__form-group input,
  .modal__form-group textarea {
    height: 43px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 0 15px; }
  .modal__form-group textarea {
    resize: none;
    height: 131px; }
  .modal__form-group:nth-child(1), .modal__form-group:nth-child(6) {
    grid-column: 1/3; }
  .modal__form-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center; }
  .modal__form-btn {
    width: 224px;
    height: 49px;
    margin-right: 28px;
    font-size: 12px !important; }
  .modal__form-hint {
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    color: #1d1d1b;
    max-width: 115px; }
.modal__hint {
  margin-top: 25px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #494949; }
  .modal__hint a {
    color: #388034; }
.modal__body {
  display: flex;
  background-color: #fff;
  height: 100%; }
.modal__left {
  background-color: #9ac354;
  width: 165px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding: 43px 0; }
.modal__right {
  flex-grow: 1;
  padding: 44px 53px 45px 44px; }
.modal__subtitle {
  margin-top: 22px;
  padding-top: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  border-top: 1px solid #ebf3dc; }

.modal2 .modal__title {
  color: #4f924b; }
.modal2 .modal__badge {
  background-color: #4f924b; }
.modal2 .modal__form-group:nth-child(4) {
  grid-column: 1/3; }

.modal3 .modal-dialog,
.modal4 .modal-dialog {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0; }
.modal3 .modal__title,
.modal4 .modal__title {
  padding: 0;
  margin: 0; }

.modal4 .modal__left {
  background-color: #4f924b; }
.modal4 .modal__title {
  color: #4f924b; }

.modal-backdrop.in {
  background: #697665;
  opacity: 1; }

@media screen and (max-width: 768px) {
  .modal-dialog {
    margin: 50px auto 0; } }
@media screen and (max-width: 600px) {
  .modal__close {
    top: 17px;
    right: 17px; }
  .modal-dialog {
    width: calc(100% - 18px); }
  .modal__top {
    padding: 22px 0 15px; }
  .modal__title {
    font-size: 18px;
    padding: 0 30px;
    margin-bottom: 15px; }
  .modal__badge {
    height: 17px;
    font-size: 8px;
    padding: 0 10px;
    margin-right: 14px; }
  .modal__desc {
    font-size: 12px;
    line-height: 16px;
    padding-top: 1px; }
  .modal__form {
    padding: 20px 30px; }
    .modal__form-groups {
      gap: 8px; }
    .modal__form-group:nth-child(2), .modal__form-group:nth-child(3) {
      grid-column: 1/3; }
    .modal__form-group label {
      font-size: 12px;
      margin-bottom: 13px; }
    .modal__form-group input {
      height: 35px; }
    .modal__form-group textarea {
      height: 91px; }
    .modal__form-bottom {
      margin-top: 0;
      flex-wrap: wrap; }
    .modal__form-btn {
      margin-top: 17px;
      width: 181px;
      height: 40px;
      font-size: 10px !important; }
    .modal__form-hint {
      font-size: 10px;
      margin-top: 17px;
      max-width: 190px; }
  .modal__hint {
    font-size: 8px;
    line-height: 12px;
    margin-top: 18px; }
    .modal__hint br {
      display: none; }
  .modal__body {
    position: relative; }
  .modal__right {
    padding: 0; }
  .modal__left {
    align-items: center;
    padding: 0;
    width: 65px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0; }
    .modal__left svg {
      width: 33px; }
  .modal__subtitle {
    margin-top: 0px;
    font-size: 12px;
    padding: 23px 25px 25px; }

  .modal3 .close,
  .modal4 .close {
    width: 14px;
    height: 14px; }
    .modal3 .close svg,
    .modal4 .close svg {
      width: 100%; }
  .modal3 .modal__title,
  .modal4 .modal__title {
    padding-left: 80px;
    padding-right: 30px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 16px; } }
.article {
  padding-top: 40px;
  padding-bottom: 140px; }
  .article__inner {
    margin-right: auto;
    margin-left: auto; }
  .article__back {
    display: flex;
    align-items: center;
    margin-bottom: 57px; }
    .article__back span {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #ADADAD;
      margin-left: 20px; }
  .article__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #1A2434;
    margin-bottom: 45px; }
  .article__date {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #979797; }
  .article__img {
    margin-bottom: 45px; }
    .article__img img {
      width: 100%; }
  .article__text-block {
    margin-bottom: 45px; }
    .article__text-block p:nth-child(1) {
      font-size: 16px;
      line-height: 150%;
      color: #1A2434;
      margin-bottom: 30px; }
    .article__text-block p:nth-child(2) {
      font-size: 16px;
      line-height: 150%;
      color: #1A2434; }
  .article__strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #1A2434; }

@media screen and (max-width: 992px) {
  .article {
    padding-top: 20px;
    padding-bottom: 65px; }
    .article__back {
      margin-bottom: 36px; }
      .article__back svg {
        width: 24px; }
      .article__back span {
        font-size: 12px;
        margin-left: 16px; }
    .article__title {
      font-size: 14px;
      margin-bottom: 16px; }
    .article__date {
      font-size: 12px; }
    .article__img {
      margin-bottom: 16px; }
    .article__text-block {
      margin-bottom: 32px; }
      .article__text-block p:nth-child(1) {
        font-size: 12px;
        margin-bottom: 30px; }
      .article__text-block p:nth-child(2) {
        font-size: 12px; }
    .article__strong {
      font-size: 12px; } }
.blog {
  padding-top: 40px;
  padding-bottom: 140px; }
  .blog__inner {
    display: flex; }
  .blog__left {
    width: 370px;
    margin-right: 30px;
    flex-shrink: 0; }
    .blog__left-title {
      font-family: "Halvar Breitschrift", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      color: #009DE0;
      margin-bottom: 60px; }
    .blog__left-tabs {
      background: #F3F3F3;
      border-radius: 30px;
      padding: 41px 41px 44px 46px; }
    .blog__left-tab:not(:last-child) {
      margin-bottom: 25px; }
    .blog__left-tab {
      cursor: pointer;
      display: flex;
      align-items: center; }
      .blog__left-tab i {
        width: 18px;
        height: 18px;
        border: 1px solid #009DE0;
        box-sizing: border-box;
        border-radius: 40px;
        position: relative;
        flex-shrink: 0; }
      .blog__left-tab span {
        font-weight: 500;
        font-size: 18px;
        margin-left: 27px; }
    .blog__left .blog__left-tab--active i::before {
      content: '';
      width: 8px;
      height: 8px;
      background: #009DE0;
      border-radius: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .blog__right {
    flex-grow: 1; }
    .blog__right-title {
      font-weight: bold;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 60px; }
    .blog__right span {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #979797; }
  .blog__item:not(:last-child) {
    margin-bottom: 30px; }
  .blog__item {
    display: flex;
    align-items: center;
    background: #F3F3F3;
    border-radius: 30px; }
    .blog__item-img {
      margin-right: 39px;
      width: 400px;
      height: 310px;
      flex-shrink: 0; }
      .blog__item-img img {
        width: 100%;
        height: 100%; }
  .blog__item-block div {
    padding-right: 40px; }
  .blog__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1A2434;
    margin-bottom: 20px; }
  .blog__item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1A2434;
    margin-bottom: 60px; }
  .blog-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1A2434;
    margin-bottom: 20px; }
  .blog-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1A2434;
    margin-bottom: 60px; }
  .blog__title {
    margin-bottom: 45px; }
  .blog__text-block {
    margin-top: 45px;
    margin-bottom: 45px; }
    .blog__text-block div:nth-child(1) {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #1A2434;
      margin-bottom: 30px; }
    .blog__text-block div:nth-child(2) {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #1A2434; }
  .blog strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #1A2434; }
  .blog__back {
    display: flex;
    align-items: center;
    margin-bottom: 65px; }
    .blog__back span {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #ADADAD;
      margin-left: 20px; }
  .blog__content {
    display: none; }
  .blog__content--active {
    display: block; }

@media screen and (max-width: 1200px) {
  .blog {
    padding-top: 60px; }
    .blog__inner {
      display: block; }
    .blog__left {
      margin-bottom: 60px; } }
@media screen and (max-width: 992px) {
  .blog {
    padding-top: 20px;
    padding-bottom: 64px; }
    .blog__inner {
      display: block; }
    .blog__left {
      width: 280px;
      margin-right: 0;
      margin-bottom: 48px; }
      .blog__left-title {
        margin-bottom: 32px;
        font-size: 20px; }
      .blog__left-tabs {
        padding: 24px 67px 24px 20px; }
      .blog__left-tab span {
        font-size: 12px;
        margin-left: 16px; }
    .blog__right-title {
      font-size: 20px;
      margin-bottom: 32px; }
    .blog__item-title {
      font-size: 14px;
      margin-bottom: 16px; }
    .blog__item-text {
      font-size: 12px;
      margin-bottom: 32px; }
    .blog__item-span {
      font-size: 12px !important; }
    .blog__item {
      margin-bottom: 16px !important; } }
@media screen and (max-width: 768px) {
  .blog__item {
    display: block;
    border-radius: 20px; }
    .blog__item-img {
      width: 100%;
      height: 100%;
      margin-right: 0;
      margin-bottom: 24px; }
      .blog__item-img img {
        border-radius: 20px 20px 0px 0px; }
    .blog__item-block div {
      padding-right: 0;
      padding-right: 20px;
      padding-left: 20px; } }
.contacts {
  padding-top: 40px;
  padding-bottom: 140px; }
  .contacts__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #009DE0;
    margin-bottom: 50px; }
  .contacts__top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px; }
  .contacts__top-left {
    background: #F3F3F3;
    border-radius: 30px;
    padding: 40px 47px 40px 73px; }
  .contacts__telephone-block {
    display: flex;
    align-items: center;
    margin-bottom: 33px; }
  .contacts__telephone {
    display: flex;
    align-items: center;
    margin-right: 38px; }
    .contacts__telephone span {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #009DE0;
      margin-left: 8px; }
  .contacts__number a {
    font-size: 16px;
    line-height: 150%;
    color: #1A2434; }
  .contacts__address-block {
    display: flex;
    align-items: center; }
  .contacts__address {
    display: flex;
    align-items: center;
    margin-right: 59px; }
    .contacts__address span {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #009DE0;
      margin-left: 8px; }
  .contacts__address-text {
    width: 400px;
    font-size: 16px;
    line-height: 150%;
    color: #1A2434; }
  .contacts__map:not(:last-child) {
    margin-bottom: 30px; }
  .contacts__map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 467px;
    height: 78px;
    background: #009DE0;
    border-radius: 30px; }
    .contacts__map-span {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      margin-right: 10px; }
    .contacts__map-span2 {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      margin-right: 15px; }
  .contacts .swiper2 {
    width: 100%;
    height: 100%;
    overflow-x: hidden; }
  .contacts .swiper__slide {
    width: 100% !important;
    margin-right: 0; }
  .contacts .swiper__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    position: relative; }
  .contacts .swiper__reviews {
    width: 255px;
    margin-right: 146px; }
    .contacts .swiper__reviews-title {
      font-weight: bold;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      color: #1A2434;
      margin-bottom: 50px; }
    .contacts .swiper__reviews-text {
      font-size: 14px;
      line-height: 150%;
      color: #1A2434;
      width: 255px; }
  .contacts .swiper__users {
    display: flex;
    align-items: center;
    width: 100%; }
    .contacts .swiper__users-img {
      width: 127px;
      height: 127px;
      flex-shrink: 0;
      margin-right: 43px; }
      .contacts .swiper__users-img img {
        width: 100%;
        height: 100%; }
    .contacts .swiper__users .swiper__users-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; }
    .contacts .swiper__users .swiper__review {
      font-size: 14px;
      line-height: 150%;
      color: #1A2434;
      width: 572px; }
  .contacts .contacts__nav {
    position: static; }
  .contacts .swiper-pagination__contacts {
    color: #1A2434; }
  .contacts .swiper__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #009DE0;
    margin-left: 344px; }

@media screen and (max-width: 1200px) {
  .contacts__top-items {
    display: block;
    margin-bottom: 64px; }
  .contacts__top-left {
    margin-bottom: 30px; }
  .contacts__map {
    width: 100%; }
  .contacts .swiper__block {
    display: block; }
  .contacts .swiper-slide {
    width: 100%;
    margin-top: 50px;
    margin-right: 0; }
  .contacts .swiper__review {
    width: 100% !important; } }
@media screen and (max-width: 992px) {
  .contacts {
    padding-top: 20px;
    padding-bottom: 64px; }
    .contacts__top-left {
      margin-bottom: 16px;
      padding: 30px 20px; }
    .contacts__telephone-block {
      display: block;
      margin-bottom: 20px; }
    .contacts__telephone {
      margin-right: 0;
      margin-bottom: 10px; }
      .contacts__telephone span {
        font-size: 12px;
        margin-left: 6px; }
    .contacts .contacts__number {
      font-size: 12px; }
    .contacts__address-block {
      display: block; }
    .contacts__address {
      margin-right: 0;
      margin-bottom: 10px; }
      .contacts__address span {
        font-size: 12px;
        margin-left: 6px; }
    .contacts .contacts__address-text {
      width: 100%;
      font-size: 12px; }
    .contacts__map:not(:last-child) {
      margin-bottom: 16px; }
    .contacts__map {
      height: 100%; }
      .contacts__map-span {
        font-size: 12px;
        margin-right: 6px; }
      .contacts__map-span2 {
        font-size: 12px;
        margin-right: 9px; }
    .contacts .swiper__block {
      display: block; }
    .contacts .swiper-slide {
      width: 100%;
      margin-top: 32px; }
    .contacts .swiper__review {
      width: 100% !important; }
    .contacts .swiper__reviews-title {
      font-size: 20px;
      margin-bottom: 16px; }
    .contacts .swiper__reviews-text {
      font-size: 12px; }
    .contacts .swiper__users-img {
      width: 100px;
      height: 100px;
      margin-right: 16px; }
    .contacts .swiper__users-title {
      font-size: 12px;
      margin-bottom: 4px; }
    .contacts .swiper__users .swiper__review {
      font-size: 10px; }
    .contacts .swiper__link {
      margin-left: 16px;
      font-size: 12px; }
    .contacts .swiper-button-prev {
      width: 40px;
      height: 40px;
      margin-right: 16px; }
    .contacts .swiper-button-next {
      width: 40px;
      height: 40px;
      margin-right: 16px; }
    .contacts .swiper-pagination__contacts {
      font-size: 12px; } }
.section-gallery {
  background: #FFFFFF; }
  .section-gallery__inner {
    padding-top: 40px; }
  .section-gallery__title {
    font-family: Halvar Breitschrift;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #009DE0; }

@media screen and (max-width: 992px) {
  .section-gallery__inner {
    padding-top: 20px; }
  .section-gallery__title {
    font-size: 20px !important; } }
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; }

.title {
  font-family: "Halvar Breitschrift", sans-serif;
  font-weight: 700; }
  .title span {
    color: #009DE0; }

@media (min-width: 1200px) {
  .container {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
